body {
    font-family: verdana;
    font-size: 11px;
}

.blue {
    color: #56638c;
    font-size: 12px
}

.green {
    color: #007000;
}

#data_update {
    width: 49%;
    float: right;
}

#hash_update {
    width: 49%;
    float: left;
}

#data_update_target,
#hash_update_target {
    overflow: scroll;
    border: 1px solid black;
}

#events {
    clear: both
}

#events>div {
    width: 48%;
    float: left;
    margin: 0 1%;
}
